<h2>アカウント登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :last_name, "姓" %><br>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "family-name" %>
  </div>

  <div class="field">
    <%= f.label :first_name, "名" %><br>
    <%= f.text_field :first_name, autocomplete: "given-name" %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br>

    <% if @minimum_password_length %>
      <em>（<%= @minimum_password_length %>文字以上）</em><br>
    <% end %>

    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード確認" %><br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "アカウント作成" %>
  </div>

<% end %>

<%= render "devise/shared/links" %>